{% extends 'base.html' %}

{% block title %}
Login · PocketSmart AI
{% endblock %}

{% block content %}

<section class="narrow card">

    <h1>
        Welcome back
    </h1>

    {% if error %}

        <div class="error">
            {{ error }}
        </div>

    {% endif %}

    <form
        method="post"
    >

        <label>
            Email

            <input
                type="email"
                name="email"
                required
            >
        </label>


        <label>
            Password

            <input
                type="password"
                name="password"
                required
            >
        </label>


        <button
            class="btn"
            type="submit"
        >
            Login
        </button>

    </form>


    <p>
        New here?

        <a href="/register">
            Create an account
        </a>.
    </p>

</section>

{% endblock %}